@charset "UTF-8";

@import url('#');

@font-face {
    font-family:'LinLibertine' ;
    src: url('font/LinLibertine_aBL.ttf') format('truetype'), url('font/LinLibertine_aBS.ttf') format('truetype');
}

  :root {
    --cor01: #F9EDA3;
    --cor02: #d4A850;
    --cor03: #323232;
    --cor04: #9A7243;
    --cor05: white;
    --cor06: black;
    --fonte-titulo:'LinLibertine', arial, serif;
    --fonte-menu: arial, helvetica, sans-serif;
    --fonte-rodape: arial;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--cor03);
    position: relative;
    justify-content: center;
    align-items: center;
}

header.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 80px;
    padding: 10px 0;
    background-image: linear-gradient(to top, var(--cor03), var(--cor06));
    z-index: 10;
   }

h1 {
    padding: 10px 0px 25px 0px;
    font-family: var(--fonte-titulo) ;
    font-size: clamp(1em, 5vh, 3em);
    background-image: radial-gradient( var(--cor01) ,var(--cor02) 12% , var(--cor04) );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    margin-bottom: 1px;
    display: block;
    position:relative;
}

nav{
    font-family: var(--fonte-menu);
    font-weight: bold;
    position:absolute;
    background-image: linear-gradient(to bottom, #F9EDA3, #D4A850);    
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 35px;
    padding: 1.5px;
    max-width: 99.7vw;
}

nav.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 10px;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.slide-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    width: 97.8vw;
    max-width: 1800px;
    height: calc(100vh -80px);
    max-height: 600px;
}

nav.navigation-auto {
    margin-top: 40px;
    padding: 5px;
}

nav > a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 5px;
    margin: 0;
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor04);
    border-radius: 5px;
}

.slide-list {
    display: flex;
}

.slide-item {
    cursor: grab;
    flex-shrink: 0;
    padding: 0 10px;
    width: 100%;
    max-width: 800px;
}

.slide-content {
    border: 1px solid #fff;
    position: relative;
    box-shadow: var(--cor06) 10px 10px 10px;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-description {
    background: linear-gradient(to top, var(--cor06), transparent);
    color: var(--cor05);
    position: absolute;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.slide-description h3 {
    font-family: var(--fonte-menu), sans-serif;
    text-shadow: 1px 1px 1px #323232;
    font-size: 1.5em;
}

.slide-nav-button {
    position: absolute;
    cursor: pointer;
    background: transparent;
    color: var(--cor02);
    font-size: 3.5em;
    z-index: 1;
}

.slide-nav-previous {
    left: 10px;
}

.slide-nav-next {
    right: 10px;
}

.slide-controls {
    margin:20px auto;
}

.slide-control-button {
    background: transparent;
    font-size: 1.25em;
    cursor: pointer;
    color: var(--cor02);
    margin: 0 5px;
}

.slide-control-button.active {
    color: var(--cor04);
}


footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100vw;
    background-image: linear-gradient(to bottom, #F9EDA3, #D4A850); 
    padding: 20px 0px;
    margin-top: auto;
}

@media (max-width: 768px) {
    main {
        padding-top: 120px; /* Evita que fique colado no topo */
        flex-direction: column;
    }

    .slide-wrapper {
        height: 50vh;
    }

    .slide-item {
        max-width: 100%;
    }
}

@media (min-width: 1800px) {
    .slide-wrapper {
        width: 100vw;
        max-width: 1800px;
    }
}